
a:link{
    color: orangered;
}

a:visited{
    color: green;
}
a:hover{
    color: blue;
}
a:active{
    color: red;
}


/* li:nth-child(odd){
    background-color:red ;
} */

/* 
li:nth-child(even){
    background-color:rgb(0, 55, 255) ;
} */


/* li:nth-child(3n+1){
    background-color:rgb(0, 55, 255) ;
} */

/* li:nth-child(3n){
    background-color:rgb(0, 55, 255) ;
} */

/* li:last-child{
    background-color: orangered;
} */
li:first-child{
    background-color: orangered;
    width: 100px;
}

li:first-of-type{
    background-color: aqua;
} 

li:last-of-type{
    background-color: aqua;
} 
p:only-child{
    color: orangered;
}
 
h2:empty{
    width: 100px;
    height: 100px;
    background-color: aqua;
}


/* form  */
input:required{
    margin-bottom: 4px;
    background-color: aliceblue;
    border: 1px solid red;
}

input[type="text"]:disabled{
    border: 1px solid gray;
    background-color: gray;
    color:wheat;
    text-transform: capitalize;
    margin-bottom: 4px;
}

input[type="checkbox"]:checked+label{
    text-transform: capitalize;
    font-weight: bold;
}

input:read-only{
    background-color: orangered;
}